* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}
#scene-explorer-host {
  z-index: 1;
}

#inspector-host {
  z-index: 1;
}